*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  min-width: 768px;
  max-width: 100%;
  width: 100%;
height: 100vh;
  }

  a{
    text-decoration: none;
  }

  ul{
    list-style: none;
  }
  :root{
      --bg-purple-dark: #4A0751;
      --bg-green: #5D9C77;
      --bg-purple: #7C2399;
      --bg-gray: #f1f1f1;
      --bg-pink: #AD1BD9;
      --bg-orange: #FA5A03;
      --bg-white: #FFFFFF;
  }

  .btn{
    padding: 1rem 4rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: "Roboto", sans-serif;
    color: #fff;
    background: var(--bg-green);
    text-transform: uppercase;
  }
/* Header */
#header{
  display: flex;
  width: 100%;
  min-width: 100%;
  max-width: 100vw;
  height: 100px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: var(--bg-white);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
}

#nav{
  display: flex;
  width: 100%;
  min-width: 100%;
  max-width: 100vw;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
}


#menu{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

}

#menu li a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--bg-purple-dark);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: "Roboto", sans-serif;
}

#menu li a:hover{
  color: var(--bg-orange);
}

#nav .btn:hover{
  background: var(--bg-purple);
}

/* Header end */

/* Hero */
main{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  min-width: 100%;
}

#play{
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: start;
  align-items: center;
  background: url(./Assets/bg-desktop.svg) no-repeat center center/cover;
}

#play-text{
display: block;
margin:10rem 0 0 8rem;
width: 100%;
line-height: 2rem;
}


#play-text h2{
  font-size: 3rem;
  font-weight: 700;
  color: var(--bg-white);
  font-family: "Roboto", sans-serif;
  margin-bottom: 2rem;
  width: 40%;
  line-height: 48px;
}

#play-text h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--bg-white);
  font-family: "Roboto", sans-serif;
  min-width: 45%;
  max-width:  100%;
  width: 45%;
  margin-bottom: 2rem;
}

/* Way */

#way{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}

.text-container{
display: block;
width: 100%;
margin-left: 7rem;
}
.text-container h4{
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.text-container h2{
  font-size: 3rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.text-container p{
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  width: 60%;
  min-width: 40%;
  margin-bottom: 3rem;
  margin-top: 1rem;
  line-height:27px ;
}

#way img{
margin-right: 3rem;
}
/* way end */

/* results */
#results{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8rem 0;
  background: var(--bg-gray);
}

#points {
display: block;
width: 100%;
margin: 0 7rem;
font-family: "Roboto", sans-serif;
}

#points h3{
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

#points h1{
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: .25rem;
  color: var(--bg-orange);
}

.cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  min-width: 768px;
  margin-right: 1rem;
}

.card{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem ;
  border-radius: 15px;
  background: var(--bg-orange);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  gap: 1rem;
}

.card .js-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "roboto", sans-serif;
  color: var(--bg-white);
}

/* results end */

/* testimonials */
#testimonials{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
  background: var(--bg-purple);
}

#testimonial {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
}
.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;

}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
width: 100%;
margin: 2rem 4rem;
gap: 4rem;
}

.slide {
  flex: 0 0 calc(100% / 3.28);
  min-width: calc(100% / 3.28);
  text-align: center;
  padding: 50px 1rem;
  background-color: #fff;
  margin: 2rem 0;
  border-radius: 25px;
}

.slide h2{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  margin-top: 1rem;
  color: #000;
  margin-bottom: 1rem;
}

.slide p{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #000;
  width: 100%;
  line-height: 27px;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  visibility: hidden;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

@media (max-width: 834px) {
  .slider {
    width: 100%;
    gap: 2rem;
    margin: 0 2rem;
  }

  .slide {
    flex: 0 0 100%;
    min-width: 100%;
      text-align: center;
      padding: 50px 0;
      background-color: #7c2399;


  }

  .slide.first{
    margin-left:-.25rem;
  }
  
  .slide.second{
    margin-left:-2.5rem ;
  }
  
  .slide.third{
    margin-left: -2rem ;
  }

  .slide h2{
    color: #fff
  }

  .slide p{
    width: 80%;
    color: #fff;
    text-align: center;
    margin: 0 auto;
  }

  .prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: #fa5a03;
  visibility: visible;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

}
/* testimonials end */

/* about */
#about{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}

#about h2{

  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-bottom: 2rem;
}

.btn-text{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.btn-text p{
  font-size: 1.125rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
  width: 40%;
}

@media (max-width: 1280px) {
  #about a{
    margin-left:18rem ;
    margin-top: 3rem;
  }
}
/* about end */

/* forms */

#forms{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  background-image: url(./Assets/bg-form.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.form-text{
  display: block;
  width: 100%;
  margin-left: 7rem;
}

.form-text h2{
  font-size: 3rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-bottom: 2rem;
  color: var(--bg-white);
}

.form-text h3{
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  margin-bottom: 2rem;
  color: var(--bg-white);
}
.pipedriveWebForms{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

/* forms end */

/* footer */
footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.icons{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}
.icons a{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-purple-dark);
  border-radius: 50%;
  padding: .75rem;
  transition: all 0.2s ease-in-out;
}

.icons a:hover{
  background: var(--bg-purple);
}

.icons i{
  font-size: 1.5rem;
  color: var(--bg-white);
  text-align: center;
}


button#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  font-size: 2rem;
  background-color: #fa5a03;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 15px;
}

  
button#scrollToTopBtn.show {
  opacity: 1;
  visibility: visible;
}


@media (min-width: 767px) and (max-width: 834px) {

  body{
    width: 100%;
    min-width: 100%;
    height: 100vh;
  }

  #menu{
    display: none;
  }
  
  
    #play{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background: url(./Assets/bg-mobile.svg) no-repeat center center/cover;
    }
  
    #play-text{
      display:flex;
      flex-direction: column;
      width: 100%;
      line-height: 2rem;
   margin: 4rem auto;
   block-size: 4rem;
    }
  
    #play-text h2{
      font-size: 2rem;
      font-weight: 700;
      color: var(--bg-white);
      font-family: "Roboto", sans-serif;
      margin-bottom: 32rem;
      margin-top: -18rem;
      width: 100%;
      line-height: 48px;
      margin-left: auto;
      text-align: center;
    }
  
    #play-text h3 {
      font-size: 1.5rem;
      font-weight: 400;
      color: var(--bg-white);
      font-family: "Roboto", sans-serif;
      min-width: 60%;
      max-width:  100%;
      width: 60%;
      margin: 0 auto;
      margin-bottom: 2rem;
      text-align: center;
  
    }
  
    #play #play-text > .btn{
      margin: 0 auto;
    }


    #way{
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 8rem 0;
    }
    .text-container{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
    }
  
    .text-container h4{
      font-size: 1.5rem;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
      text-align: center;
      width: 100%;	
      margin: 0 auto;
    }
  
    .text-container h2{
      font-size: 3rem;
      font-weight: 700;
      font-family: "Roboto", sans-serif;
      margin-bottom: 2rem;
      text-align: center;
      padding: 1rem;
      width: 100%;
      margin: 0 auto;
  
    }
  
    .text-container p{
      font-size: 1.5rem;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
      width: 100%;
      min-width: 100%;
      margin-bottom: 3rem;
      margin-top: 1rem;
      line-height:32px ;
      text-align: center;
      padding: 1rem;
    }
  
    .text-container .btn{
      margin: 0 auto;
    }
  
    #way img{
      margin-right: 0rem;
      width: 100%;
      padding: 0rem;
      margin-top: 5rem;
    }
  
    #results{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 8rem 0;
      background: var(--bg-gray);

    }

    #points{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .cards{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      margin: 0 auto;
    }
  
    .card{
      display: flex;
      align-items: center;
      padding: 1rem ;
      border-radius: 15px;
      background: var(--bg-orange);
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
       gap: 1rem;
       width: 45%; 
       margin: 0 auto;
       margin-top: 1rem;
    }
  
  #about{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  
  #about h2{
  
    font-size: 2rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-align: center;
  
  }
  
  #about .btn-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  #about .btn-text img{
  
    width: 100%;
    margin: 0 auto;
  }
  
  #about .btn-text p{
    font-size: 1.125rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 32px;
    width: 100%;
    text-align: left;
    padding: 1rem .5rem;
  }
  #about .btn{
    margin: 1rem auto;
  }
  
  #forms{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    background-image: url(./Assets/bg-form.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #forms .form-text{
    display: block;
    width: 100%;
    margin-left: 0rem;
  }
  
  #forms .form-text h2{
    font-size: 2rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2rem;
    color: var(--bg-white);
    text-align: center;
  }
  
  #forms .form-text h3{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2rem;
    color: var(--bg-white);
    text-align: center;
  }
  
  .pipedriveWebForms{
    padding: 1rem;
  }
  
  
}

@media (max-width:768px)  {
  body{
    width: 100%;
    min-width: 100%;
    height: 100vh;
  }
  
  #menu {
    display: none;
  }

  #nav .btn{
    display: none;
  }
  
    #play{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background: url(./Assets/bg-mobile.svg) no-repeat center center/cover;
    }
  
    #play-text{
      display: flex;
      flex-direction: column;
      width: 100%;
      line-height: 2rem;
   margin: 4rem auto;
   block-size: 4rem;
   padding: 5rem 0;

    }
  
    #play-text h2{
      font-size: 2rem;
      font-weight: 700;
      color: var(--bg-white);
      font-family: "Roboto", sans-serif;
      margin-bottom: 14rem;
      margin-top: -12rem;
      width: 100%;
      line-height: 48px;
      margin-left: auto;
      text-align: center;
    }
  
    #play-text h3 {
      font-size: 1.5rem;
      font-weight: 400;
      color: var(--bg-white);
      font-family: "Roboto", sans-serif;
      min-width: 80%;
      max-width:  100%;
      width: 100%;
      margin-bottom: 2rem;
      margin-left: auto;
      text-align: center;
  
    }
  
    #play-text .btn{
        width: 70%;
        margin: 1rem auto;
        text-align: center;
    }
  
    #way{
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 8rem 0;
    }
    .text-container{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: 0rem;
    }
  
    .text-container h4{
      font-size: 1.5rem;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
      text-align: center;
      width: 100%;	
      margin: 0 auto;
    }
  
    .text-container h2{
      font-size: 3rem;
      font-weight: 700;
      font-family: "Roboto", sans-serif;
      margin-bottom: 2rem;
      text-align:center;
      padding: 1rem;
      width: 100%;
      margin: 0 auto;
  
    }
  
    .text-container p{
      font-size: 1.125rem;
      font-weight: 400;
      font-family: "Roboto", sans-serif;
      width: 100%;
      min-width: 100%;
      margin-bottom: 3rem;
      margin-top: 1rem;
      line-height:27px ;
      text-align: left;
      padding: 1rem;
    }
  
    .text-container .btn{
  width: 70%;
  margin: 0 auto;
  text-align: center;
    }
  
    #way img{
      margin-right: 0rem;
      width: 100%;
      padding: 0rem;
      margin-top: 5rem;
    }
  
    #results{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 8rem 0;
      margin: 0 auto;
      background: var(--bg-gray);
    }
    #points{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;
    }

    .cards{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      align-items: center;
      padding-left: 2rem;
    }
  
    .card{
      display: flex;
      align-items: center;
      border-radius: 15px;
      background: var(--bg-orange);
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
       gap: 1rem;
       width: 40%; 
       margin: 0 auto;
       margin-top: 1rem;
    }
  
  
  #about{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  
  #about h2{
  
    font-size: 2rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    text-align: center;
  
  }
  
  #about .btn-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  #about .btn-text img{
  
    width: 100%;
    margin: 0 auto;
  }
  
  #about .btn-text p{
    font-size: 1.125rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 32px;
    width: 100%;
    text-align: left;
    padding: 1rem .5rem;
  }
  #about .btn{
    margin: 1rem auto;
  }
  
  #forms{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    background-image: url(./Assets/bg-form.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #forms .form-text{
    display: block;
    width: 100%;
    margin-left: 0rem;
  }
  
  #forms .form-text h2{
    font-size: 2rem;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2rem;
    color: var(--bg-white);
    text-align: center;
  }
  
  #forms .form-text h3{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2rem;
    color: var(--bg-white);
    text-align: center;
  }
  
  .pipedriveWebForms{
    padding: 1rem;
  }
  
  }
